/* Start Nav Bar*/
.container {
  nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    background-color: $secondary-color;
    width: 16.8rem;
    height: 100vh;

    p {
      display: none;
    }
    .img {
      max-width: 10rem;

      img {
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 8px solid #ca7d60;
      }
    }
    ul {
      display: flex;
      flex-flow: column;
      gap: 1.5rem;
      li a {
        font-family: $bodyFontFamily;
        font-weight: bold;
        color: $linksUnclickColor;
        &:hover {
          color: $linksHoverColor;
        }
      }
    }
  }
}
/* End Nav Bar*/
