$primary-color: #6c757d;
$secondary-color: #bd5d38;
$primaryPadding:250px;
$sectionPadding:200px;
$bodyFontFamily: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$linksUnclickColor:#CFA3A6;
$linksHoverColor:rgba(248, 249, 250, 0.7);
$linkClickColor:white;