$primary-color: #6c757d;
$iconColor:#495057;
$secondary-color: #bd5d38;
$primaryPadding:250px;
$sectionPadding:200px;
$navFontFamily: 'Mulish', sans-serif;
$linksUnclickColor:#CFA3A6;
$linksHoverColor:rgba(248, 249, 250, 0.7);
$linkClickColor:white;
$header-color:#343A40;
$bodyFontFamily:'Cambay', sans-serif;